.browser {
    position: relative;
    width: 285px;
    height: 265px;
    &.him {
        background: url('../../../images/orange/browser_orange.jpg') center center/cover no-repeat;
    }
    &.her {
        background: url('../../../images/teal/browser_teal.jpg') center center/cover no-repeat;
    }
}