.corner {
    width: 285px;
    height: 265px;
    &.him {
        background: url('../../../images/orange/bot_1_orange.jpg') center center/cover no-repeat;
    }
    &.her {
        background: url('../../../images/teal/bot_1_teal.jpg') center center/cover no-repeat;
    }
}